 

html, body {
  width: 100%;
  height: 150%;
}


  body {
  text-align: center;
  display: felx;
  justify-content: center;
  background-color: #40B5AD;
  /*background: url('Images/hardenchicken.jpg')*/
  }

#centerBox{
  background-color: #9FE2BF;
  max-width: 1000px
  height:1000px;
  background: light;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding: 50px;
  
}

.centertable {
  margin-left: auto;
  margin-right: auto;
}


.bChoice {
  background-color: #B4C424;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  button-align: center;
  
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}





#wrapper {
  
  text-align: center;
  display: inline-block;

}


.button {
  width: 40px;
  height: 25px;
  border: thin black solid;
  
 
}
#yes{
  float: left;
  background: red;
  
}

#no{
  float: left;
  background: blue;
  
}

